@font-face {
  font-family: 'ShadowsIntoLight';
  src: url('../fonts/ShadowsIntoLight.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
iframe{background: #fff!important}
#rcp_subscription_levels_plans{
	display: -webkit-flex;
	display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;	
}
#rcp_subscription_levels_plans .single_plan{
	width: 31%;
    border: 2px solid #9E9E9E;
    padding: 0;
    /*padding: 15px;*/
    margin-bottom: 50px;
}

#rcp_subscription_levels_plans .single_plan:nth-child(1) .single_plan_header {
    background: #52cc77;
}
#rcp_subscription_levels_plans .single_plan:nth-child(2) .single_plan_header {
    background: #4dbbcc;
}
#rcp_subscription_levels_plans .single_plan:nth-child(3) .single_plan_header {
    background: #7e639e;
}

#rcp_subscription_levels_plans .single_plan .single_plan_header .single_plan_title,
#rcp_subscription_levels_plans .single_plan .single_plan_header .single_plan_price span,
#rcp_subscription_levels_plans .single_plan .single_plan_header .register-button a{
	color: white;
}
#rcp_subscription_levels_plans .single_plan .single_plan_header{
	text-align: center;
    border-bottom: 1px solid #9E9E9E;
	margin-bottom: 10px;
    padding-bottom: 10px;
	font-size: 1.2rem;
}
#rcp_subscription_levels_plans .single_plan .single_plan_header .single_plan_price{
	font-weight: bold;
}
#rcp_subscription_levels_plans .single_plan .single_plan_header .register-button a{
	font-size: 0.9rem;
	text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ffffff;
}
#rcp_subscription_levels_plans .single_plan .single_plan_content{
	font-size: 0.9rem;
    padding: 15px;
}
#rcp_subscription_levels_plans .single_plan .single_plan_content .single_plan_description ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#rcp_subscription_levels_plans .single_plan .single_plan_content .single_plan_description ul li{
	padding-bottom: 10px;
}
#rcp_subscription_levels_plans .single_plan .single_plan_content .single_plan_description ul li:before{
	content:'\2714';
    margin-right: 5px;
}
.testimonials-section .strong-grid{
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.rcp_user_fieldset_custom .fieldset_wrapper.top_part{
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;	
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.rcp_user_fieldset_custom .fieldset_wrapper .left-form-part,
.rcp_user_fieldset_custom .fieldset_wrapper .right-form-part{
	width: 48%;
}
.rcp_user_fieldset_custom .fieldset_wrapper.bottom_part{width: 75%;}
.rcp_form .rcp_user_fieldset_custom p{
	display: -webkit-flex;
	display: flex;	
}
.rcp_form .rcp_user_fieldset_custom label{
	width: 30%;
	display: inline;
    cursor: unset;	
}
.rcp_form .rcp_user_fieldset_custom input,
.rcp_form .rcp_user_fieldset_custom select{
	width: 50%;
    height: 35px;
}
.rcp_form .rcp_user_fieldset_custom select[multiple="multiple"]{height: auto;}
#educator_selected_role_wrapper,
#others_role_wrapper,
.degree_apprenticeship_wrapper{display: none;} 
.rcp_form .rcp_field_anticipated_aditional_wrapper{
	width: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;	
}
.rcp_form .rcp_field_anticipated_aditional_wrapper sup.description{
    line-height: 1em;
    left: 0;	
}
.after_register_form_custom{margin-top: 30px;}
.after_register_form_custom table {
    border-collapse: collapse;
    text-align: left;
}
.after_register_form_custom tr,
.after_register_form_custom td {
   border: 1px solid black;
}
.after_register_form_custom thead tr{border: unset;}
.after_register_form_custom td{padding: 5px;}
sup.description{left: 20px;top: 0;}

#subscription-constantcontact-form{display: none;}
#crestashareicon{display: none!important;}
.cresta-share-icon i.c-icon-cresta-mail{
	background: #ffa500;
	color: #ffffff;
	width: 40px !important;
	height: 40px !important;
	text-align: center !important;
	padding: 11px 0;
	border: 2px solid transparent;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	-o-transition: border .6s linear , background .6s linear , color .6s linear;
	-moz-transition: border .6s linear , background .6s linear , color .6s linear;
	-webkit-transition: border .6s linear , background .6s linear , color .6s linear;
	transition: border .6s linear , background .6s linear , color .6s linear;	
}
.cresta-share-icon i.c-icon-cresta-mail:hover{
	background: #ffffff;
    -o-transition: border .2s linear , background .2s linear , color .2s linear;
    -moz-transition: border .2s linear , background .2s linear , color .2s linear;
    -webkit-transition: border .2s linear, background .2s linear , color .2s linear;
    transition: border .2s linear ,background .2s linear , color .2s linear;
	border: 2px solid #ffa500 !important;
    color: #ffa500;
}
.scholarship-list-container{padding: 0 20px;max-width: 1860px;margin: 0 auto;}
.scholarship-list-container .entry-content{
    display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.scholarship-list-container .entry-content .scholarship-search-sidebar{width: 20%; padding-right: 20px;}
.scholarship-list-container .entry-content .scholarship-main-list{width: 80%;}
.scholarship-list-container .searchandfilter select.sf-input-select,
.scholarship-list-container .searchandfilter label,
.scholarship-list-container .searchandfilter input[type="text"]{width: 100%;}
.scholarship-list-container .searchandfilter input[type="text"],
.scholarship-list-container .searchandfilter select.sf-input-select{height: 32px;    border-radius: 3px;}
.scholarship-list-container .searchandfilter li.sf-field-post-meta-_job_minimum_award label{width: auto;}
.subscribe-btn-wrapper{width: fit-content;}
.subscribe-btn-wrapper .notice-paid{
	opacity: 0;
    padding: 10px 20px;
    background: rgba(212, 212, 212, 0.27);
    max-width: 200px;
    position: relative;
}
.subscribe-btn-wrapper .notice-paid:before{
	content: '';
    position: absolute;
    top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent rgba(212, 212, 212, 0.27) transparent;
}
.subscribe-btn-wrapper:hover .notice-paid{opacity: 1;}
.subscribe-btn-wrapper .notice-paid:hover{opacity: 0;}

/*.post-listing article{margin: 0;padding: 0;}*/
/*.post-listing .col-md-8 article:nth-child(2){margin-top: 20px;}*/
/*.post-listing article{background-color: transparent!important;}*/
.post-listing article a{text-decoration: none;color: #0d79a6!important;}
.post-listing article .autor-tags{font-size: 14px;margin-top: 10px;color: #777;}
.post-listing article .autor-tags .autor-article{text-transform: capitalize;}
.post-listing article .autor-tags .tags-article{margin-left: 10px;}
.post-listing article .autor-tags a:hover{text-decoration: underline;color: #8a5b9f!important;}
.post-listing article .single-article{
    display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.post-listing article .single-article .article-left-part{width: 35%;}
.post-listing article .single-article .article-right-part{width: 65%;padding-left: 10px;position: relative;}
.post-listing article .single-article .article-left-part .article-image{
	max-width: 269px;
    max-height: 180px;
}	
.post-listing article .single-article .article-left-part img{
    width: 100%;
    height: 100%;
    max-width: 269px;
    max-height: 180px;
    object-fit: cover;
}
.post-listing article .single-article .single-article-title{margin: 0;line-height: 1.1em;}
.post-listing article .single-article .single-article-title a{color: #8a5b9f!important;font-size: 20px;}
.post-listing article .single-article .article-right-part .read-more-link{position: absolute;bottom: 0;right: 0;}
.post-listing article .single-article .article-right-part .read-more-link a{
	background-color: #0088cc;
	color: #fff!important;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 13px;
}
.post-listing article .entry-content.article-excerpt{margin: 10px 0 0;}
.blog-list-pagination{float: right;padding: 30px 0;}
.blog-list-pagination a{text-decoration: none;color: #0088cc!important;font-weight: bold;}
.extra_funding_box_wrapper{
    background: #d07324;
    padding: 20px 10px;
    margin-bottom: 20px;
    width: 100%;
}
.extra_funding_box_wrapper p{margin:0;}
.extra_funding_box_wrapper .extra_funding_box_title{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    line-height: 42px;
    margin: 0;
}
.extra_funding_box_wrapper .extra_funding_box_text{
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin-top: 20px;
}
.extra_funding_box_wrapper .extra_funding_box_update_text{
    font-family: 'ShadowsIntoLight';
    font-size: 1.3em;
    line-height: 1.25em;
	color: #fff;
}
.extra_funding_box_wrapper .extra_funding_box_link{margin: 10px 0;}
.extra_funding_box_wrapper .extra_funding_box_link a{
    color: #fff;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 5px;
    background: rgb(66,146,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(66,146,244,1) 0%, rgba(15,0,234,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(66,146,244,1) 0%,rgba(15,0,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(66,146,244,1) 0%,rgba(15,0,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4292f4', endColorstr='#0f00ea',GradientType=0 );
}
.extra_funding_box_wrapper .extra_funding_box_link a:hover{text-decoration: none;outline: none;}
.video_modal{
    opacity: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.video_modal video{display: none;}
.video_modal.active{
    z-index: 9999;
    opacity: 1;
}
.video_modal.active video{
    width: 100%;
    height: 100%;
    display: block;
}
.video_modal .video_modal_header{
    height: 4%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px;
}
.video_modal .video_modal_header .video-title{color: #fff;}
.video_modal .video_modal_header .video-close{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.video_modal_content{
    height: 96%;
    padding: 16vh 0;
    margin: 0px auto;
    max-width: 700px;
}
#video_controls{
    position: absolute;
    z-index: 1;
    top: 47%;
    right: 30%;
    width: 90px;
    height: 90px;
}
#ctct-form-205 form .ctct-form-field input[type="text"],
#ctct-form-205 form .ctct-form-field input[type="email"],
#ctct-form-205 form .ctct-form-field textarea{width: 100%; max-width: 320px;}
table.resources-info td{
    padding: 10px;
    vertical-align: top;
}
table.resources-info a{
    margin: 20px 0;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
table.resources-info a:hover{
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.scholarship-list-container .searchandfilter select.sf-input-select[name="_sft_tsh_tax_subject[]"]{
    height: inherit;
}