.blog article,
body.tag article,
body.category article{
    border-bottom: 1px solid #ccc;
}
.blog article:nth-child(2n),
body.tag article:nth-child(2n),
body.category article:nth-child(2n){
    background: #f6f6f6;
}
.blog .entry-title a,
body.tag .entry-title a,
body.category .entry-title a{
    color: royalblue;
}
.blog .entry-meta,
body.tag .entry-meta,
body.category .entry-meta{
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}