
.calc_container > div {
	display: block;
	position: relative;
	float: left;
}
.calc_container {
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
	float: left;
}

.left_part {
	width: 55%;
	padding-top: 22px;
}

.right_part {
	width: 45%;
	/*background: antiquewhite;*/
	height: 650px;
	text-align: center;
	padding-top: 20px;
}
.center_line{

	position: absolute !important;
	width: 2px;
	background: #b1b1b1;
	height: 600px;
	left: 55%;
	top: 25px;
}

.bottom_part {
	width: 100%;
	/*background: burlywood;*/
}
select#start_course {
	width: 100%;
	height: 35px;
}

select#duration_course {
	width: 80%;
	height: 35px;
}
.selects_container {
	font-size: 16px;
	color: #ad539d;
	font-weight: bold;
	height: 105px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background-color: #f3f3f3;
	outline: none;
	border: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0B79A6;
	cursor: pointer;
	border-radius: 100%;
}

#amount-repaid {
	margin-top: 0;
	font-size: 26px; 
	font-weight: bold;
	color: #077ba7;
}

#no-repayment-text {
	font-size: 14px;
	width: 75%;
	margin: 0 auto;
}

.calc-title {
	font-size: 16px !important;
    color: #ad539d;
	font-weight: bold;
	margin-top: 30px !important;
	margin-bottom: 3px;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #0B79A6;
	cursor: pointer;
	border-radius: 100%;
}

.slider_loan_container,
.slider_main_container {
	font-size: 16px;
	color: #ad539d;
	font-weight: bold;
	height: 90px;
}

.slider_salary_container {
	font-size: 16px;
	color: #ad539d;
	font-weight: bold;
	height: 100px;
}

.slider_interest_container {
	font-size: 16px;
	color: #ad539d;
	font-weight: bold;
	height: 90px;
}

div#slider_loan {
	margin-top: 10px;
}

div#slider_main {
	margin-top: 10px;
}

div#slider_salary {
	margin-top: 10px;
}

div#slider_interest {
	margin-top: 10px;
}
#slider_loan_val,
#slider_main_val,
#slider_salary_val,
.slider_interest_val_wrap{
	width: 80%;
}
#slider_interest_val{
	width: 100%;
}
label[for="slider_loan_val"],
label[for="slider_main_val"],
label[for="slider_salary_val"],
label[for="slider_interest_val"]{
	opacity: 0;
}
.bottom_part .col-md-1 p{
	font-size: 22px;
	text-align: center;
	line-height: 1;
}
.bottom_part .col-md-11{
	padding-left: 0;
}
.bottom_part p {
	margin-top: 0;
}
.bottom_part .col-md-12{
	font-weight: bold;
}
.right_top_text{

	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.pie-chart {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	display: block;
	width: 160px;
	height: 160px;
	margin: 10px auto 20px;
	text-align: center;
	overflow: hidden
}
.pie-chart canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.pie-chart-contents {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 10;
	width: 130px;
	height: 130px;
	background-color: #057ba7;
    background-image: -webkit-linear-gradient(left, #077ba7 0%, #b2519c 100%);
    background-image: -o-linear-gradient(left, #077ba7 0%, #b2519c 100%);
    background-image: linear-gradient(to right, #077ba7 0%, #b2519c 100%);
	border-radius: 50%;
	box-shadow: 0px 1px 3px;
}
.pie-chart-unit {
	display: inline-block;
	line-height: 130px;
	color: white;
	font-weight: 700;
	font-size: 36px;
	font-family: museo_slab900,helvetica neue,Helvetica,Arial,sans-serif
}
.pie-chart-suffix {
	display: inline-block;
	color: #fff;
	font-size: 14px;
}

#calc_repayment {
	padding: 15px; 
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	background-color: #077ba7;
	border: 0;
	outline: 0;
	letter-spacing: 1px;
	cursor: pointer;
}

#calc_repayment:hover {
	background-color: #b2519c;
}
.bar-chart {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	width: 210px;
	height: 300px;
	margin: 0 auto;
	overflow: hidden
}
.bar-chart-contents {
	position: absolute;
	bottom: 0;
	left: 0;
	float: left;
	clear: none;
	text-align: center;
	width: 100px
}
.bar-chart-contents:nth-child(1) {
	left: 50%;
	transform: translateX(-50%);
}
/*.bar-chart-contents:nth-child(1) {*/
/*left: 0*/
/*}*/
/*.bar-chart-contents:nth-child(2) {*/
/*left: 110px*/
/*}*/
.bar-chart-contents:nth-child(odd) .bar-chart-line {
	background: #354158
}
.bar-chart-contents:nth-child(even) .bar-chart-line {
	background: #2c56a7
}
.bar-chart-unit {
	position: relative;
	width: 100%;
	font-family: museo_slab900,helvetica neue,Helvetica,Arial,sans-serif;
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 0 10px;
	padding: 3px 0;
	border-radius: 3px;
	font-size: 14px
}
.bar-chart-unit:after,.bar-chart-unit:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}
.bar-chart-unit:after {
	border-color: transparent;
	border-top-color: #fff;
	border-width: 5px;
	margin-left: -5px
}
.bar-chart-unit:before {
	border-color: transparent;
	border-top-color: #ccc;
	border-width: 6px;
	margin-left: -6px
}
.bar-chart-line {
	transition: height .5s ease;
	width: 100%;
	height: 0;
	border-radius: 3px 3px 0 0
}
.bar-chart-info {
	width: 100%;
	min-height: 40px;
	padding: 5px 0;
	margin: 0!important;
	font-size: 11px!important;
	color: #666;
	line-height: 14px
}

#slider_loan_val, #slider_salary_val, #slider_main_val  {
	background: url('/wp-content/themes/thescholarshiphub/assets/img/pound-symbol.jpg') 8px center no-repeat;
	padding-left: 20px;
}input#slider_interest_val {
	 padding-right: 25px;
 }.slider_interest_val_wrap {
	  position: relative;
  }

.slider_interest_val_wrap:after {
	position: absolute;
	content: '%';
	top: 5px;
	right: 7px;
	color: #999999;
}















@media (max-width: 1199px){
	.selects_container {
		font-size: 16px;
		height: 75px;
	}

	.slider_main_container {
		font-size: 16px;
		height: 75px;
	}

	.slider_loan_container {
		font-size: 16px;
		height: 75px;
	}

	.slider_salary_container {
		font-size: 16px;
		height: 75px;
	}

	.slider_interest_container {
		font-size: 16px;
		height: 75px;
	}
}

@media (max-width: 991px){
	.selects_container {
		height: auto;
		margin-bottom: 20px;
	}

	.slider_loan_container,
	.slider_main_container {
		height: auto;
		margin-bottom: 20px;
	}

	.slider_salary_container {
		height: auto;
		margin-bottom: 20px;
	}

	.slider_interest_container {
		height: auto;
		margin-bottom: 20px;
	}

	select#duration_course {
		width: 100%;
	}

	#slider_loan_val, #slider_salary_val, .slider_interest_val_wrap {
		width: 100%;
	}
}
@media (max-width: 500px){
	.calc_container > div.center_line {
		display: none;
	}

	.calc_container > div {
		float: none;
		width: 100%;
	}
}