
/*Section slider*/
.slider_1 {
    position: relative;
    cursor: pointer;
    /*max-height: 720px;*/
    overflow: hidden;
    /*height: 100vh;*/
}
.slider_1 .slider-text {
    max-width: 1170px;
    position: absolute;
    color: #fff;
    z-index: 10;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    background-position-x: 50%;
    text-align: left;
}
.slider_1 .slider-text_mod {
    max-width: 580px;
    margin: 82px 0 110px;
    overflow: hidden;
    text-align: left;
    font-family: "Montserrat-Regular";
}
.slider_1 .slider-text .tagline_1 {
    letter-spacing: 7px;
    font-weight: bold;
    max-height: 270px;
    line-height: 1;
    margin: 5% 0 0 0;
    font-size: 60px;
    text-transform: uppercase;
}
.slider_1 .slider-text .tagline_2 {
    max-height: 145px;
    /*font-family: "Montserrat-Regular";*/
    letter-spacing: 0.24px;
    margin: 60px 0 110px;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
}
.slider_1 .owl-theme {
    position: relative;
}
.slider_1 .owl-theme .owl-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 71.5px;
  height: 43px;
  bottom: 27px;
  left: 0%;
  top: auto;
  margin: 5px auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.11);
  border-radius: 21px;
/*  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); */
      }
.slider_1 .owl-theme .owl-dots .owl-dot {
  display: inline-block;
  bottom: 20px;
  right: -4%; }
.slider_1 .owl-theme .owl-dots .owl-dot span {
  margin: 5px 4px;
  width: 8px;
  height: 8px;
  /*border: 1px solid #000;*/
  display: block;
  border-radius: 50%;
  background: #dbdbdb;
  }
  .slider_1 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #e55ec6;
}
.slider-text_mod {
	color: #fff;
}
.home .jumpButton {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    /*width: 180px;*/
    background: inherit;
    display: inline-block;
    -webkit-border-radius: 0;
    border-radius: 40px;
    color: #fff !important;
    letter-spacing: 1.5px;
    outline: none;
    display: inline-block;
    font-size: 10px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    padding: 19.5px 30px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    text-decoration: none;    
    border: 3px solid #FFFFFF;
    text-transform: uppercase;
}
.home .jumpButton_mod {
    margin-right: 10px;
}
.home .jumpButton .fa {
    margin-right: 18px;
    color: #e55ec6;
    font-size: 12px;
}
.home  .jumpButton:hover{
    background: #fff;
    color: #0077b3 !important;
}
/* End section slider*/
.home .hentry{
    margin-bottom: 0;
}
.home .entry-content{
    margin-top:0;
}
.tsh_border{
    border: 1px solid #cbcbcb;
    border-bottom: none;
}
.tsh_border_mod{
    max-height: 262px;
    overflow: hidden;
    /*border: 2px solid #ccc;*/
}
/* Section user_status*/
.user_status{
    padding: 0;
    /*background: #f6f6f6;*/
}
.user_status .user_status_image img {
    width: 100%;
    vertical-align: middle;
}
.user_status .user_status_text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    /*border: 2px solid #ccc;*/
    border-top: none;
    text-align: center;
    letter-spacing: 1px;
}
.user_status_text .fa-play {
    font-size: 10px;
}
.user_status_text_Bg1 {
    background-color: #0ece71;
}
.user_status_text_Bg2 {
    background-color: #0eb9cd;
}
.user_status_text_Bg3 {
    background-color: #d21f07;
}
.user_status .user_status_text a{
    text-decoration: none;
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 40px;
}
.user_status .user_status_text div{
    padding: 23px 0;
    font-family: "Montserrat-Regular";
}
/* End section user_status*/
/*Section university_funding*/
#university_funding .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    margin: 0 -15px 65px;
    padding: 15px 0 0;
}
#university_funding .item {
    padding: 15px;
    overflow: hidden;
    /*max-width: 400px;*/
    max-width: 49%;
}
.university_funding_title{
    margin-bottom: 15px;
    margin-top: 17px;
    font-size: 16px;
    color: #00243f;
    font-family: "Montserrat-Regular";
}
/*.university_funding_text{font-size: 16px;}*/
.university_funding_text {
    color: #b0b0b0;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    overflow: hidden;
    max-height: 72px;
}

.university_funding_btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 40px;
    color: #e55ec6;
    letter-spacing: 1.5px;
    outline: none;
    font-size: 10px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    padding: 18px 25px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    text-decoration: none;    
    border: 3px solid #e55ec6;
    text-transform: uppercase;
    background-color: #FFFFFF;
    width: 137px;
    margin: 39px 0 0 40%;
    font-family: "Montserrat-Regular";
}
.university_funding_btn_mod {
    max-width: 225px;
    width: 100%;
    padding: 18px 38px;
    letter-spacing: 2px;
    margin: 39px auto 0;
    font-family: "Montserrat-Regular";
}
.university_funding_btn_mod .fa {
    margin-right: 22px;
}

.home .university_funding_btn .fa {
    margin-right: 20px;
    color: #e55ec6;
    font-size: 12px;
}
.home .university_funding_btn:hover{
    background: #e55ec6;
    color: #FFFFFF;
    text-decoration: none;
}
.home .university_funding_btn:hover .fa{
    color: #FFFFFF;
}

/*End university_funding*/
/* Section home_content_wrap */
.home_content_wrap{
    margin: 40px 0 180px;
}
.featured_post_image {
    position: relative;

}
.featured_post_image img{
    width:100%;
    vertical-align: middle;
    /*padding: 45px 45px 0 45px;*/
}
.featured_post_image_mod img{
     /*padding: 45px 45px 0 45px;*/
}
.featured_post_text{
    border: 1px solid #cbcbcb;
    border-top: none;
    padding: 20px 15px;
    color: #404040;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-family: "Montserrat-Regular";
    text-align: center;
    line-height: 25px;
}
.featured_post_text_2 {
    padding: 20px 29px 55px;
}

.home .featured_post_text_mod{
    max-width: 347.5px;
    border: none;
    padding: 20px 40px 40px;
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #FFFFFF;
    font-size: 14.5px;
    font-family: "Montserrat-Regular";
    line-height: 25px;
    margin-left: 37px;
}
.home .featured_post_text_mod h3 {
    font-size: 16px;
    font-family: "Montserrat-Regular";
    margin: 46px 0 48px;
}
.home_content_wrap .read_more{
    text-align: right;
    margin-top: 73px;
}
.home_content_wrap .read_more a{
    text-decoration: none;
    color: royalblue;  
}
.link_wrap{
    text-align: right;
}
.link_wrap .learn_more{  
    color: #fff;
    background-color: #f0ad4e;
    padding: 10px 16px;
    font-size: 18px;
    margin-top: 20px;
}
.link_wrap .learn_more:hover{
    color: #f0ad4e;
    background-color: #fff;
}
/* End section home_content_wrap*/

/*Home sidebar*/

/*End Home sidebar*/


.home_h1 {
    color: #404040;
    font-size: 18.5px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    margin: 1em 0;
    font-family: "Montserrat-Regular";
    font-weight: bold;
}
.home_h_mod {
    color: #404040;
    font-size: 18.5px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    margin: 25px 0 0;
    font-family: "Montserrat-Regular";
    font-weight: bold;
}
.home_h_mod_2 {
    font-size: 16.2px !important;
    font-weight: bold;
    font-family: "Montserrat-Regular";
    height: 32px;
}

.home .university_funding_thumb img {
    border-radius: 7px;
    max-width: 128.5px;
    object-fit: cover;
    min-height: 137px;
}

.background_lady {
    position: relative;
}
.background_lady img {
    max-width: 420px;
    position: absolute;
    top: -106px;
    left: -133px;
}

/*@media only screen and (max-width: 2500px) {
    .main-navigation .menu-item-has-children > a:after {
        display: none;
    }
}*/
